python-binance==1.0.19
colorama==0.4.4
PyYAML==6.0.1
tradingview-ta==3.3.0
requests~=2.31.0
pytz~=2024.1
telebot~=0.0.5
pandas~=2.2.1
plotly~=5.19.0
numpy~=1.26.4
matplotlib~=3.8.3
seaborn~=0.13.2
backtrader~=1.9.78.123
yfinance~=0.2.37
ta~=0.11.0
TA-Lib~=0.4.28